main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
  height: 75vh;
  user-select: none;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-container img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: transform 0.3s;
}

.photo-container img:hover {
  transform: scale(1.1);
}

.photo-container img:active {
    transform: scale(0.95);
}

.photo-container .name {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.photo-container .money {
  font-size: 1em;
  font-weight: bold;
}
